<h2 class="text-uppercase text-center mb-5">Create an account</h2>


<div class="login-card col">
    <h2 class="page-title">Sign-up</h2>
    <form id="signupForm">
  <input type="text" id="username" placeholder="Username" required>
  <input type="email" id="email" placeholder="Email" required>
  <input type="password" id="password" placeholder="Password" required>
  <button type="submit">Sign Up</button>
</form>
</div>

<script src="/js/signup.js"></script>